@use "./components/var";
@use "./components/navbar";
@use "./components/home";
@use "./components/projects";
@use "./components/contact";

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var.$white;
}
html {
    scroll-behavior: smooth;
    user-select: none;
    body {
        overscroll-behavior-y: none;
        overscroll-behavior-x: none;
        div.App {
            main {
                min-height: auto;
                @include var.flex-container(row,center,flex-start);
                width: 100vw;
                height: 100vh;
                position: relative;
                overflow: hidden;
                background-color: black;
                .bkg {
                    opacity: 0.1;
                    width: 3500vh;
                    height: 3500vh;
                    position: absolute;
                    background: url('https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png');
                    -webkit-animation: rotate-center 1000s linear infinite ;
                    animation: rotate-center 1000s linear infinite ;
                }
                section.pres {
                    @include var.flex-container(column,flex-start,center);
                    z-index: 9;
                    height: 90vh;
                    margin-top: 10vh;
                    width: 30%;
                    padding: 2vh 0;
                    h1 {
                        font-size: 3rem;
                        font-weight: lighter;
                    }
                    h3 {
                        font-size: 1.25rem;
                        font-weight: lighter;
                        padding-left: 2vw;
                    }
                }
                div.Main {
                    width: 70%;
                    height: 100vh;
                    z-index: 9;
                    overflow: scroll;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    -ms-overflow-style: none;
                    scrollbar-width: none;
                }
                div.Welcome {
                    -webkit-animation: fade-out 2.5s ease-out 1.5s both;
                    animation: fade-out 2.5s ease-out 1.5s both;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    z-index: 50;
                    @include var.flex-container(row,center,center);
                    background-color: rgb(24, 24, 24);
                    h1 {
                        -webkit-animation: fade-out 1.5s ease-out 1.5s both;
                        animation: fade-out 1.5s ease-out 1.5s both;
                        font-size: 3rem;
                        color: var.$white;
                        span {
                            font-size: 1.2rem;
                            padding-left: 1vw;
                            color: var.$acc;
                        }
                    }
                }
            }
        }
        &.open_menu {
            position: fixed;
        }
    }
}  

/* Query Mobile */
@media screen and (max-width: 765px) {
    html {
        body {
            div.App {
                main {
                    max-height: 100dvh;
                    flex-direction: column;
                    section.pres {
                        width: 100%;
                        height: unset;
                    }
                    div.Main {
                        margin-top: 0;
                        height: 74.75vh;
                        width: 100%;
                    }
                    div.Welcome {
                        h1 {
                            @include var.flex-container(column,flex-start,flex-start);
                            font-size: 2.5rem;
                            span {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
    html {
        body {
            div.App {
                main {
                    max-height: 100dvh;
                    flex-direction: column;
                    section.pres {
                        width: 100%;
                        height: unset;
                    }
                    div.Main {
                        margin-top: 0;
                        height: 77.5vh;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
  