@use "./components/var";
@use "./components/navbar";
@use "./components/footer";
@use "./components/home";

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var.$white;
}
html {
    scroll-behavior: smooth;
    body {
        overscroll-behavior-y: none;
        overscroll-behavior-x: none;
        div.App {
            background-color: var.$prim;
            main {
                min-height: 83vh;
                @include var.flex-container(row,center,center);
                padding: 3vh;
                div.Main {
                    background-color: rgba(0, 0, 0, 0.3);
                    width: 100%;
                    padding: 1.5vh;
                    border-radius: 10px;
                    box-shadow: 0px 4px 4px 0px #4a447a;
                    min-height: 77vh;
                    h1 {
                        margin-bottom: 2vh;
                        padding: 0.4vw;
                        border-bottom: solid 2px var.$white;
                    }
                }
            }
        }
        &.open_menu {
            position: fixed;
        }
    }
}

/* Query Mobile */
@media screen and (max-width: 765px) {

}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
    
}