@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
header {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 10;
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
}
header section.icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  height: 10vh;
  width: 10vh;
  transition: all 0.25s ease-in-out;
}
header section.icon a {
  height: 80%;
  width: 80%;
}
header section.icon a img {
  height: 100%;
  width: 100%;
}
header section.icon:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease-in-out;
}
header.navbar-desktop section.links {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
header.navbar-desktop section.links a {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  width: 10vw;
  height: 100%;
}
header.navbar-desktop section.links a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease-in-out;
}
header.navbar-mobile {
  display: none;
}

section.mobileMenu {
  display: none;
  z-index: 11;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -100vw;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  transition: all 0.3s ease-in;
}
section.mobileMenu div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
section.mobileMenu div a {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.3);
  gap: 2vh;
  color: inherit;
  height: 13vh;
  width: inherit;
  text-decoration: none;
  font-size: 1.25rem;
  padding-left: 35vw;
}
section.mobileMenu i.fa-xmark {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  padding: 2vh 3vh;
}
section.mobileMenu.open {
  left: 0;
  transition: all 0.3s ease-in;
}

/* Query Mobile */
@media screen and (max-width: 765px) {
  header.navbar-desktop {
    display: none;
  }
  header.navbar-mobile {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  header.navbar-mobile section.menuSection {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 12vh;
  }
  header.navbar-mobile section.menuSection i {
    font-size: 3rem;
  }
  section.mobileMenu {
    display: flex;
  }
}
/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
  header.navbar-desktop {
    display: none;
  }
  header.navbar-mobile {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  header.navbar-mobile section.menuSection {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 12vh;
  }
  header.navbar-mobile section.menuSection i {
    font-size: 4rem;
  }
  section.mobileMenu {
    display: flex;
  }
  section.mobileMenu i.fa-xmark {
    font-size: 3rem;
  }
  section.mobileMenu div a {
    padding-left: 40vw;
    font-size: 2rem;
  }
}
div.Home {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
div.Home div.Card {
  width: 10vw;
  height: 10vw;
}
div.Home div.Card div.cardFace {
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #221e41;
  background-size: cover;
  height: inherit;
  width: inherit;
  will-change: transform, opacity;
  position: absolute;
}

/* Query Mobile */
@media screen and (max-width: 765px) {
  div.Home {
    flex-direction: column;
  }
}
/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
  div.Home {
    flex-direction: column;
  }
}
div.Projects {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
div.Projects .mySwiper {
  width: 90%;
  height: 90vh;
  padding: 3vh;
}
div.Projects .mySwiper .swiper-slide {
  align-self: center;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #221e41;
  padding: 3vh;
}

/* Query Mobile */
@media screen and (max-width: 765px) {
  div.Projects .mySwiper {
    width: 100%;
    height: 74vh;
  }
}
/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
  div.Projects .mySwiper {
    height: 76vh;
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  color: rgb(255, 252, 255);
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}
html body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}
html body div.App {
  background-color: #37306B;
}
html body div.App main {
  min-height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
html body div.App main section.pres {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 9;
  height: 90vh;
  margin-top: 10vh;
  width: 30%;
  padding: 2vh 0;
}
html body div.App main section.pres h1 {
  font-size: 3rem;
  font-weight: lighter;
}
html body div.App main section.pres h3 {
  font-size: 1.25rem;
  font-weight: lighter;
  padding-left: 2vw;
}
html body div.App main div.Main {
  border: 1px solid red;
  margin-top: 10vh;
  width: 70%;
  height: 90vh;
}
html body.open_menu {
  position: fixed;
}

/* Query Mobile */
@media screen and (max-width: 765px) {
  html body div.App main {
    flex-direction: column;
  }
  html body div.App main section.pres {
    width: 100%;
    height: unset;
  }
  html body div.App main div.Main {
    margin-top: 0;
    height: 74.75vh;
    width: 100%;
  }
}
/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
  html body div.App main {
    flex-direction: column;
  }
  html body div.App main section.pres {
    width: 100%;
    height: unset;
  }
  html body div.App main div.Main {
    margin-top: 0;
    height: 77.5vh;
    width: 100%;
  }
}/*# sourceMappingURL=App.css.map */