@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
  width: 100%;
  height: 12vh;
  background-color: rgba(0, 0, 0, 0.3);
}
header section.icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  height: 12vh;
  width: 12vh;
  transition: all 0.25s ease-in-out;
}
header section.icon a {
  height: 80%;
  width: 80%;
}
header section.icon a img {
  height: 100%;
  width: 100%;
}
header section.icon:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease-in-out;
}
header.navbar-desktop section.links {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
header.navbar-desktop section.links a {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  width: 10vw;
  height: 100%;
}
header.navbar-desktop section.links a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease-in-out;
}
header.navbar-mobile {
  display: none;
}

section.mobileMenu {
  display: none;
}

/* Query Mobile */
@media screen and (max-width: 765px) {
  header.navbar-desktop {
    display: none;
  }
  header.navbar-mobile {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  header.navbar-mobile section.menuSection {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 12vh;
  }
  header.navbar-mobile section.menuSection i {
    font-size: 3rem;
  }
  section.mobileMenu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 11;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100vw;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    transition: all 0.3s ease-in;
  }
  section.mobileMenu div {
    width: 100%;
  }
  section.mobileMenu div a {
    color: inherit;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: inherit;
    height: 13vh;
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    border-top: 1px solid rgb(255, 252, 255);
    border-bottom: 1px solid rgb(255, 252, 255);
    font-size: 1.25rem;
  }
  section.mobileMenu i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    padding: 2vh 3vh;
  }
  section.mobileMenu.open {
    left: 0;
    transition: all 0.3s ease-in;
  }
}
/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
  header.navbar-desktop {
    display: none;
  }
  header.navbar-mobile {
    display: flex;
  }
  header.navbar-mobile section.menuSection {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 12vh;
  }
  header.navbar-mobile section.menuSection i {
    font-size: 4rem;
  }
}
footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  z-index: 10;
  width: 100%;
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Query Mobile */
/* Query Tablet */
/* Query Mobile */
/* Query Tablet */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  color: rgb(255, 252, 255);
}

html {
  scroll-behavior: smooth;
}
html body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}
html body div.App {
  background-color: #37306B;
}
html body div.App main {
  min-height: 83vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 3vh;
}
html body div.App main div.Main {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 1.5vh;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #4a447a;
  min-height: 77vh;
}
html body div.App main div.Main h1 {
  margin-bottom: 2vh;
  padding: 0.4vw;
  border-bottom: solid 2px rgb(255, 252, 255);
}
html body.open_menu {
  position: fixed;
}

/* Query Mobile */
/* Query Tablet *//*# sourceMappingURL=App.css.map */