@use "./components/var";
@use "./components/navbar";
@use "./components/home";
@use "./components/projects";
@use "./components/contact";

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var.$white;
}
html {
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    body {
        overscroll-behavior-y: none;
        overscroll-behavior-x: none;
        div.App {
            main {
                min-height: auto;
                @include var.flex-container(row,center,flex-start);
                width: 100vw;
                height: 100vh;
                position: relative;
                overflow: hidden;
                background-color: black;
                .bkg {
                    opacity: 0.2;
                    width: 3000vh;
                    height: 3000vh;
                    position: absolute;
                    background: url('https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png');
                    -webkit-animation: rotate-center 1000s linear infinite ;
                    animation: rotate-center 1000s linear infinite ;
                }
                section.pres {
                    @include var.flex-container(column,flex-start,center);
                    z-index: 9;
                    height: 90vh;
                    margin-top: 10vh;
                    width: 30%;
                    padding: 2vh 0;
                    h1 {
                        font-size: 3rem;
                        font-weight: lighter;
                    }
                    h3 {
                        font-size: 1.25rem;
                        font-weight: lighter;
                        padding-left: 2vw;
                    }
                }
                div.Main {
                    width: 70%;
                    height: 100vh;
                    z-index: 9;
                    overflow: scroll;
                }
            }
        }
        &.open_menu {
            position: fixed;
        }
    }
}

@-webkit-keyframes rotate-center {
0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
@keyframes rotate-center {
0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
  

/* Query Mobile */
@media screen and (max-width: 765px) {
    html {
        body {
            div.App {
                main {
                    flex-direction: column;
                    section.pres {
                        width: 100%;
                        height: unset;
                    }
                    div.Main {
                        margin-top: 0;
                        height: 74.75vh;
                        width: 100%;
                    }
                }
            }
        }
    }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
    html {
        body {
            div.App {
                main {
                    flex-direction: column;
                    section.pres {
                        width: 100%;
                        height: unset;
                    }
                    div.Main {
                        margin-top: 0;
                        height: 77.5vh;
                        width: 100%;
                    }
                }
            }
        }
    }
}