@use "./var";

div.Home {
    padding-top: 8vh;
    display: grid;
    grid-template-columns: 1fr 0.75fr 1fr;
    grid-template-rows: repeat(6, 1fr); 
    section {
        border: 1px solid green;
        &.infoPersonal {
            grid-area: 2 / 3 / 5 / 4;
        }
        &.skills {
            grid-area: 3 / 1 / 7 / 2;
        }
    }
}

/* Query Mobile */
@media screen and (max-width: 765px) {
    div.Home {
        grid-template-columns: 1fr 0.50fr 1fr;
    }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
    div.Home {
        grid-template-columns: 1fr 0.35fr 1fr;
    }
}