@use "./var";

div.Home {
    @include var.flex-container(row,center,center);
    div.Card {
        width: 10vw;
        height: 10vw;
        div.cardFace {
            border-radius: 10px;
            box-shadow: 0px 4px 4px 0px #221e41;
            background-size: cover;
            height: inherit;
            width: inherit;
            will-change: transform, opacity;
            position: absolute;
        }
    }
}

/* Query Mobile */
@media screen and (max-width: 765px) {
    div.Home {
        flex-direction: column;
    }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
    div.Home {
        flex-direction: column;
    }
}