@use './var';

header {
    backdrop-filter: blur(10px);
    @include var.flex-container(row,space-between,center);
    z-index: 10;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    &.navbar-desktop {
        div.nav {
            @include var.flex-container(row,center,center);
            section.icon {
                @include var.flex-container(row,center,center);
                cursor: pointer;
                height: 10vh;
                width: 10vh;
                a {
                    height: 80%;
                    width: 80%;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                transition: all 0.25s ease-in-out;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.3);
                    transition: all 0.25s ease-in-out;
                }
            }
            section.links {
                @include var.flex-container(row,center,center);
                height: 100%;
                div.navLinks {
                    @include var.flex-container(row,center,center);
                    width: 10vw;
                    a {
                        font-size: 1.2rem;
                        display: inline-block;
                        &::after {
                            content: '';
                            display: block;
                            width: 0;
                            height: 2px;
                            background: var.$acc;
                            transition: all 0.25s ease-in-out;
                        }
                        &:hover::after {
                            width: 100%;
                            transition: all 0.25s ease-in-out;
                        }
                        text-decoration: none;
                        height: 100%;
                    }
                }
            }
        }
        section.language {
            @include var.flex-container(column,center,left);
            gap: 1vh;
            height: 100%;
            width: 10vw;
            div {
                cursor: pointer;
                i {
                    padding: 0 0.5vw 0 1.5vw;
                    color: var.$acc;
                }
            }
        }
    }
    &.navbar-mobile {
        display: none;
    }
}
section.mobileMenu {
    display: none;
    z-index: 11;
    width: 100vw;
    height: 100vh;
    position: absolute;
    max-height: 100dvh;
    top: 0;
    left: -100vw;
    backdrop-filter: blur(20px);
    transition: all 0.3s ease-in;
    i {
        color: var.$acc;
    }
    div.container {
        @include var.flex-container(column,center,center);
        width: 100%;
        a {
            @include var.flex-container(row,flex-start,center);
            gap: 2vh;
            color: inherit;
            height: 13vh;
            width: inherit;
            text-decoration: none;
            font-size: 1.25rem;
            padding-left: 35vw;
        }
    }
    section.language {
        @include var.flex-container(row,center,center);
        position: absolute;
        top: 0;
        left: 0;
        padding: 2vh 3vh;
        div {
            padding: 1vh 1.5vh;
            font-size: 1.2rem;
            i {
                padding: 0 2.5vw 0 0;
            }
        }
    }
    i.fa-xmark {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
        padding: 2vh 3vh;
    }
    &.open {
        left: 0;
        transition: all 0.3s ease-in;
    }
}

/* Query Mobile */
@media screen and (max-width: 765px) {
    header {
        position: absolute;
        &.navbar-desktop {
            display: none;
        }
        &.navbar-mobile {
            @include var.flex-container(row,space-between,center);
            backdrop-filter: blur(10px);
            section.menuSection {
                @include var.flex-container(row,center,center);
                height: 100%;
                width: 12vh;
                i {
                    font-size: 3rem;
                }
            }
            section.icon {
                @include var.flex-container(row,center,center);
                cursor: pointer;
                height: 10vh;
                width: 10vh;
                a {
                    height: 80%;
                    width: 80%;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                transition: all 0.25s ease-in-out;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.3);
                    transition: all 0.25s ease-in-out;
                }
            }
        }
    }
    section.mobileMenu {
        display: flex;
    }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
    header {
        position: absolute;
        &.navbar-desktop {
            display: none;
        }
        &.navbar-mobile {
            @include var.flex-container(row,space-between,center);
            backdrop-filter: blur(10px);
            section.menuSection {
                @include var.flex-container(row,center,center);
                height: 100%;
                width: 12vh;
                i {
                    font-size: 4rem;
                }
            }
            section.icon {
                @include var.flex-container(row,center,center);
                cursor: pointer;
                height: 10vh;
                width: 10vh;
                a {
                    height: 80%;
                    width: 80%;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                transition: all 0.25s ease-in-out;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.3);
                    transition: all 0.25s ease-in-out;
                }
            }
        }
    }
    section.mobileMenu {
        display: flex;
        i.fa-xmark {
            font-size: 3rem;
        }
        div a {
            padding-left: 40vw;
            font-size: 2rem;
        }
    }
}