@use './var';

header {
    @include var.flex-container(row,flex-end,center);
    z-index: 10;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.3);
    section.icon {
        @include var.flex-container(row,center,center);
        cursor: pointer;
        height: 10vh;
        width: 10vh;
        a {
            height: 80%;
            width: 80%;
            img {
                height: 100%;
                width: 100%;
            }
        }
        transition: all 0.25s ease-in-out;
        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
            transition: all 0.25s ease-in-out;
        }
    }
    &.navbar-desktop {
        section.links {
            @include var.flex-container(row,center,center);
            height: 100%;
            a {
                font-size: 1.2rem;
                @include var.flex-container(row,center,center);
                transition: all 0.25s ease-in-out;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.3);
                    transition: all 0.25s ease-in-out;
                }
                text-decoration: none;
                width: 10vw;
                height: 100%;
            }
        }
    }
    &.navbar-mobile {
        display: none;
    }
}
section.mobileMenu {
    display: none;
    z-index: 11;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100vw;
    backdrop-filter: blur(20px);
    transition: all 0.3s ease-in;
    div {
        @include var.flex-container(column,center,center);
        width: 100%;
        a {
            @include var.flex-container(row,flex-start,center);
            background-color: rgba(0, 0, 0, 0.3);
            gap: 2vh;
            color: inherit;
            height: 13vh;
            width: inherit;
            text-decoration: none;
            font-size: 1.25rem;
            padding-left: 35vw;
        }
    }
    i.fa-xmark {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
        padding: 2vh 3vh;
    }
    &.open {
        left: 0;
        transition: all 0.3s ease-in;
    }
}

/* Query Mobile */
@media screen and (max-width: 765px) {
    header {
        &.navbar-desktop {
            display: none;
        }
        &.navbar-mobile {
            @include var.flex-container(row,space-between,center);
            section.menuSection {
                @include var.flex-container(row,center,center);
                height: 100%;
                width: 12vh;
                i {
                    font-size: 3rem;
                }
            }
        }
    }
    section.mobileMenu {
        display: flex;
    }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
    header {
        &.navbar-desktop {
            display: none;
        }
        &.navbar-mobile {
            display: flex;
            section.menuSection {
                @include var.flex-container(row,center,center);
                height: 100%;
                width: 12vh;
                i {
                    font-size: 4rem;
                }
            }
        }
    }
    section.mobileMenu {
        display: flex;
        i.fa-xmark {
            font-size: 3rem;
        }
        div a {
            padding-left: 40vw;
            font-size: 2rem;
        }
    }
}