@use "./var";

div.Projects {
    @include var.flex-container(row,flex-end,unset);
    padding: 50vh 7vh 7vh 7vh;
    overflow: scroll;
    ul {
        list-style-type: none;
        width: 100%;
        li {
            a {
                text-decoration: none;
                @include var.flex-container(row,right,baseline);
                gap: 1.5vw;
                padding: 4vh 0;
                span.date {
                    font-weight: bold;
                }
                span.nombre {
                    font-size: 4rem;
                    font-weight: lighter;
                    color: var.$acc;
                }
                div.icons {
                    @include var.flex-container(row,center,center);
                    gap: 0.5vw;
                    font-size: 1.5rem;
                }
                cursor: pointer;
                transition: all 0.3s ease-out;
                &:hover {
                    transform: translateX(-3vw);
                    transition: all 0.3s ease-out;
                }
            }
        }
    }
}

/* Query Mobile */
@media screen and (max-width: 765px) {
    div.Projects {
        padding: 25vh 3vh 3vh 3vh;
        ul {
            width: 100%;
            li {
                a {
                    flex-direction: column;
                    padding: 4vh 0;
                    span.nombre {
                        font-size: 2.25rem;
                    }
                    div.icons {
                        gap: 2.5vw;
                    }
                    -webkit-tap-highlight-color: transparent;
                    &:hover {
                        transform: translateX(3vw);
                        transition: all 0.3s ease-out;
                    }
                }
            }
        }
    }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
    div.Projects {
        padding: 25vh 3vh 3vh 3vh;
        ul {
            width: 100%;
            li {
                a {
                    padding: 2vh 0;
                    span.nombre {
                        font-size: 2.75rem;
                    }
                    -webkit-tap-highlight-color: transparent;
                    &:hover {
                        transform: translateX(3vw);
                        transition: all 0.3s ease-out;
                    }
                }
            }
        }
    }
}