@use "./var";

div.Projects {
    @include var.flex-container(row,flex-end,unset);
    padding: 50vh 7vh 7vh 7vh;
    overflow: scroll;
    ul {
        list-style-type: none;
        width: 70%;
        li {
            border: 1px solid purple;
            @include var.flex-container(row,right,center);
            gap: 1.5vw;
            height: 20vh;
        }
    }
}

/* Query Mobile */
@media screen and (max-width: 765px) {
    div.Projects {
        padding: 25vh 3vh 3vh 3vh;
        ul {
            width: 100%;
        }
    }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
    div.Projects {
        padding: 25vh 3vh 3vh 3vh;
        ul {
            width: 86%;
        }
    }
}