@use "./var";

div.TechStack {
  @include var.flex-container(column,center,unset);
  padding: 20vh 0 7vh 0;
  overflow: scroll;
  scroll-behavior: smooth;
  ul {
    margin-top: 80vh;
    list-style-type: none;
    width: 100%;
    li.tech {
      margin: 2.5vh 0;
      border: 1px solid green;
      height: 40vh;
      padding: 2.5vh;
    }
  }
}

/* Query Mobile */
@media screen and (max-width: 765px) {
  div.TechStack {

  }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
  div.TechStack {

  }
}